#main {
	height: 100%;
	width: 10fr;
	border: none
}
#side-panel {
	height: 100%;
	width: 3fr;
	border: none
}
.chat {
	height: 100%;
	width: 100%;
	border: none
}
#chat-view {
	height: 7fr;
	border: round $border-blurred
}
#chat-view:focus {
	height: 7fr;
	border: round $border
}
#text-area {
	height: 2fr;
	color: $foreground;
	background: $background;
	border: round $border-blurred
}
#text-area:focus {
	height: 14fr;
	color: $foreground;
	background: $background;
	border: round $border
}
.latex-image {
	margin: 0;
	width: auto
}
.message-section{
	border: none;
	height: auto
}
.message-container-tool {
	margin: 1 0 0 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border-blurred;
	height: auto
}
.message-container-tool:focus {
	margin: 1 0 0 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border;
	height: auto
}
.message-container-user {
	margin: 1 0 0 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border-blurred;
	height: auto
}
.message-container-user:focus {
	margin: 1 0 0 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border;
	height: auto
}
.message-container-assistant {
	margin: 1 0 0 0;
	color: $foreground;
	background: $background;
	border: tall $border-blurred;
	height: auto
}
.message-container-assistant:focus {
	margin: 1 0 0 0;
	color: $foreground;
	background: $background;
	border: tall $border;
	height: auto
}
.code-listing-tool {
	margin: 0 0 1 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border-blurred;
	height: auto
}
.code-listing-tool:focus {
	margin: 0 0 1 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border;
	height: auto
}
.code-listing-user {
	margin: 0 0 1 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border-blurred;
	height: auto
}
.code-listing-user:focus {
	margin: 0 0 1 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border;
	height: auto
}
.code-listing-assistant {
	margin: 0 0 1 0;
	color: $foreground;
	background: $background;
	border: tall $border-blurred;
	height: auto
}
.code-listing-assistant:focus {
	margin: 0 0 1 0;
	color: $foreground;
	background: $background;
	border: tall $border;
	height: auto
}
.manage:focus {
	border: round $border
}
.manage {
	border: round $border-blurred
}
#save-delete-cancel {
	height: 4
}
Button {
	margin: 1
}
Input {
	margin: 0 1 1 1
}
.text-area {
	height: 10
}
.text-area-invalid:focus {
	height: 10;
	border: tall $error
}
.text-area-invalid {
	height: 10;
	border: tall $error-muted
}
.modal {
	align: center middle;
	background: $background 65%
}
#loading-modal {
    width: 20;
    height: 5;
    padding: 1 0 0 0;
    background: $background-lighten-1;
    border: round $border;
    align: center middle;
}
#error-modal {
    width: 60;
    height: auto;
    padding: 1;
    background: $background-lighten-1;
    border: round $error;
    align: center middle;
}
#info-modal {
    width: 60;
    height: auto;
    padding: 1;
    background: $background-lighten-1;
    border: round $border;
    align: center middle;
}
