LoadingScreen {
    align: center middle;
    background: $background 65%;
}
#loading-indicator {
    width: 16;
    height: 5;
    padding: 0 0 0 2;
    background: $background-lighten-1;
    border: round $border;
    align: center middle;
    layout: vertical;
}
