#text-area {
	height: 2fr;
	color: $foreground;
	background: $background;
	border: round $border-blurred
}
#text-area:focus {
	height: 14fr;
	color: $foreground;
	background: $background;
	border: round $border
}
#chat-view {
	height: 7fr;
	border: round $border-blurred
}
#chat-view:focus {
	height: 7fr;
	border: round $border
}
.latex-image {
	margin: 0 0 0 0;
	width: auto
}
.message-container-request {
	margin: 0 0 0 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border-blurred;
	height: auto
}
.message-container-request:focus {
	margin: 0 0 0 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border;
	height: auto
}
.message-container-response {
	margin: 1 0 1 0;
	color: $foreground;
	background: $background;
	border: tall $border-blurred;
	height: auto
}
.message-container-response:focus {
	margin: 1 0 1 0;
	color: $foreground;
	background: $background;
	border: tall $border;
	height: auto
}
.code-listing-request {
	margin: 1 0 1 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border-blurred;
	height: auto
}
.code-listing-request:focus {
	margin: 1 0 1 0;
	color: $foreground;
	background: $background-lighten-1;
	border: tall $border;
	height: auto
}
.code-listing-response {
	margin: 1 0 1 0;
	color: $foreground;
	background: $background;
	border: tall $border-blurred;
	height: auto
}
.code-listing-response:focus {
	margin: 1 0 1 0;
	color: $foreground;
	background: $background;
	border: tall $border;
	height: auto
}
